/*!
Theme Name: Maian
Theme URI: http://Maian.com.br/
Author: Maian.com.br
Author URI: http://Maian.com.br/
Description: Maian.com.br
Version: 3.7.7
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: Maian.com.br
Tags: blue, one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, fixed-layout, fluid-layout, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, sticky-post, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

.stm_gmap_wrapper .alert {
    margin-bottom: 0;
}

.stm_gmap_wrapper .alert strong {
    color: #ff0000;
}

.loader {
    position: relative;
    margin: 0 auto;
    width: 100px
}

.loader:before {
    content: '';
    display: block;
    padding-top: 100%
}

.circular {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 100%;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round
}

.top_nav .top_nav_wrapper > ul > li,
.top_nav .main_menu_nav > ul > li,
.breadcrumbs {
    text-transform: none !important;
}

.woocommerce-MyAccount-navigation ul li a {
    font-family: inherit !important;
}

.company_history {
    min-width: 48px;
}

/* OCT 26 UPD */
@media only screen and (max-width: 992px) {
    body.header_style_3 .logo {
        float: none;
    }
    body.header_style_3 #header .header_top .icon_text {
        float: left;
        margin: 30px 30px 0 0;
    }
    body.header_style_3 #header .top_nav .icon_text {
        display: none;
    }
    body.header_style_3 #header .top_nav .icon_text:before {
        display: none;
    }
    .top_nav .top_nav_wrapper > ul > li > a {
        padding: 21px 14px;
    }
}

@media only screen and (max-width: 767px) {
    body .vc_cta3.vc_cta3-actions-right .vc_cta3-content {
        width: auto !important;
        text-align: center;
        margin: 0 0 20px;
    }
    body .vc_cta3.vc_cta3-actions-right .vc_cta3-content .vc_custom_heading {
        text-align: center;
    }
    body .vc_cta3.vc_cta3-actions-right .vc_btn3-container.vc_btn3-right {
        text-align: center
    }
    .stm_gmap_wrapper .gmap_addresses .owl-dots-wr {
        z-index: 15;
    }
    .full_height_columns {
        overflow: hidden;
        position: relative;
    }
    .full_height_columns iframe {
        height: 540px !important;
    }
}

@media only screen and (max-width: 920px) {
    html body.error404 {
        background-size: inherit !important;
    }

    .page_404 .container {
        width: auto;
    }

    .page_404 .container .media-middle {
        display: block;
        width: auto;
        padding: 20px 0;
    }
}

@media only screen and (max-width: 767px) {
    .page_404 .bottom h1 {
        font-size: 158px !important;
        line-height: 113px !important;
    }

    .page_404 .bottom .bottom_wr {
        padding: 30px 15px !important;
    }
}

/* Dec 1 2016 */
.staff_list.grid.cols_2 ul li {
    width: 50%;
}
.staff_list.grid.cols_4 ul li {
    width: 25%;
}

.staff_list.grid.cols_2 ul li .staff_image {
    max-width: 100%;
}

@media only screen and (max-width: 667px) {
    .staff_list.grid.cols_2 ul li,
    .staff_list.grid.cols_4 ul li {
        width: 100%;
    }
}

.stm_gmap_wrapper .gmap_addresses .owl-dots-wr {z-index:999}

#footer .footer_widgets .widget .widget_title {
    font-size: 26px;
}

body textarea.wpcf7-form-control.height205 {
    height: 205px;
}

body textarea.wpcf7-form-control.height147 {
    height: 147px;
}

html:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-in-out;
    -moz-transition: opactiy 0.6s ease-in-out;
    -ms-transition: opacity 0.6s ease-in-out;
    -o-transition: opacity 0.6s ease-in-out;
    transition: opacity 0.6s ease-in-out;
    visibility: hidden;
    background: #ffffff;
    z-index: 999999;
}

html.stm-site-preloader:after {
    position: fixed;
    content: '';
    display: block;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
    margin: -16px 0 0 -16px;
    background: none;
    background-color: #23393d;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    -webkit-animation: scaleout 0.5s infinite ease-in-out;
    animation: scaleout 1.0s infinite ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: 9999999999; }

    html.stm-site-preloader:before,
    html.stm-site-preloader:after {
        opacity: 1;
        visibility: visible;
    }

    @-webkit-keyframes scaleout {
        0% {
            -webkit-transform: scale(0); }
            100% {
                -webkit-transform: scale(1);
                opacity: 0; } }

                @keyframes scaleout {
                    0% {
                        transform: scale(0);
                        -webkit-transform: scale(0); }
                        100% {
                            transform: scale(1);
                            -webkit-transform: scale(1);
                            opacity: 0; } }

                            @media only screen and (min-width: 1199px) {
                                .right-indent-30 {
                                    padding-right: 30px !important;
                                }
                                .form_full-right_width {
                                    padding-right: 15px !important;
                                }
                                .form_full-right_width .vc_column-inner {
                                    margin-right: -5000px !important;
                                    margin-left: 25px !important;
                                    padding-top: 76px !important;
                                    padding-right: 5000px !important;
                                    padding-left: 50px !important;
                                }

                                .about_full-right_width .vc_column-inner {
                                    padding-left: 55px !important;
                                }

                                .site_layout_16 .form_full-right_width,
                                .site_layout_17 .form_full-right_width,
                                .site_layout_18 .form_full-right_width {
                                    padding-left: 15px !important;
                                }
                                .site_layout_16 .form_full-right_width .vc_column-inner,
                                .site_layout_17 .form_full-right_width .vc_column-inner,
                                .site_layout_18 .form_full-right_width .vc_column-inner {
                                    margin-left: -5000px !important;
                                    margin-right: 25px !important;
                                    padding-top: 76px !important;
                                    padding-left: 5000px !important;
                                    padding-right: 50px !important;
                                }
                            }
                            @media only screen and (min-width: 768px) {
                                .about_full-right_width .vc_column-inner {
                                    margin-right: -500px !important;
                                    padding-right: 500px !important;
                                }
                            }
                            @media only screen and (max-width: 667px) {
                                .stm_services .item {
                                    width: 100% !important;
                                }
                                .woocommerce div.product div.images .woocommerce-main-image, .woocommerce #content div.product div.images .woocommerce-main-image {
                                    height: auto !important;
                                    border: 0 !important;
                                    text-align: left !important;
                                }
                                .woocommerce div.product div.images img, .woocommerce #content div.product div.images img {
                                    max-width: 100% !important;
                                }
                            }
                            .mobile_header .logo_wrapper .logo { max-width: 80%; }
                            .logo a img { max-width: 100%; }

                            @media only screen and (min-width: 1199px) {
                                body.boxed_layout .vc_row[data-vc-full-width] {
                                    left: 50% !important;
                                    padding-left: 60px !important;
                                    padding-right: 60px !important;
                                    margin-left: -615px !important;
                                    width: 1230px !important;
                                }
                                body.boxed_layout .vc_row.vc_row-no-padding[data-vc-full-width] {
                                    left: 50% !important;
                                    padding-left: 0 !important;
                                    padding-right: 0 !important;
                                    margin-left: -615px !important;
                                    width: 1230px !important;
                                }
                            }

                            .icon_box {
                                display: block;
                                text-decoration: none !important;
                                color: inherit !important;
                            }

                            .g-recaptcha {
                                padding: 0 !important;
                                background: transparent !important;
                            }

                            @media only screen and (max-width: 474px ) {
                                .woocommerce ul.products li.product,
                                .woocommerce-page ul.products li.product {
                                    width: 100% !important;
                                }
                            }

                            .icon_top_transparent i,
                            .icon_left_transparent i {
                                background: transparent !important;
                            }

                            .user_validated_field.form-error {
                                border-color: #ff0000 !important;
                            }

                            body.booked-noScroll {
                                position: static;
                                overflow-y: scroll;
                            }

                            .home #main.footer_hide {
                                padding-bottom: 0;
                            }

                            @media (max-width: 1480px) and (min-width: 768px) {
                                .testimonials_carousel .slick_prev {
                                    left: -64px !important;
                                }

                                .testimonials_carousel .slick_next {
                                    right: -64px !important;
                                }
                            }

                            .woocommerce.shop_widgets ul.product_list_widget li:last-child {
                                padding-bottom: 20px;
                                border: 0;
                            }

                            .woocommerce .widget_shopping_cart .total,
                            .woocommerce.widget_shopping_cart .total {
                                border-top: 1px double #ebe9eb;
                                padding: 10px 0 0;
                            }

                            /* Autoptimize */
                            .home .stm_select_country_unit .select2-container,
                            .home .stm_select_office_unit .select2-container {
                                width: 100% !important;
                            }

                            .stm_sidebar .third_bg_color {
                                margin-right: 0px !important;
                                margin-bottom: 30px !important;
                                margin-left: 0px !important;
                            }

                            .stm_sidebar .third_bg_color .vc_column-inner {
                                padding-top: 37px !important;
                                padding-right: 30px !important;
                                padding-bottom: 40px !important;
                                padding-left: 30px !important;
                            }

                            @media only screen and (max-width: 474px ) {
                                .woocommerce ul.products li.product,
                                .woocommerce-page ul.products li.product {
                                    width: 100% !important;
                                }
                            }

                            .icon_top_transparent i,
                            .icon_left_transparent i {
                                background: transparent !important;
                            }

                            .user_validated_field.form-error {
                                border-color: #ff0000 !important;
                            }

                            body.booked-noScroll {
                                position: static;
                                overflow-y: scroll;
                            }

                            .vc_image_carousel.style_1 .item img {
                                margin-left: auto;
                                margin-right: auto;
                            }
















body.header_style_2 .header_top .top_nav .top_nav_wrapper > ul > li > a, body.header_style_2 .header_top .top_nav .main_menu_nav > ul > li > a {
    color: #ffffff !important;
}

                            .header_top {
                                background: #212528 !important;
                            }
                            .header_top:before {
                                background: #212528 !important;
                            }
                            .icon_text .text {
                                color: #000 !important;
                            }
                            .icon_text .icon {
                                color: #e9622b !important;
                            }
                            .header_socials a {
                                color: #e9622b !important;
                            }
                            .top_nav .icon_text .icon {
                                color: #ffffff !important;
                            }
                            .top_nav .icon_text .text {
                                color: #fff !important;
                            }
                            .top_nav .top_nav_wrapper > ul > li.current_page_item > a{
                                color: #fff !important;
                            }
                            #footer {
                                background: #fff !important;
                                color: #000 !important;
                            }
                            #footer .widgets_row .footer_text {
                                color: #000 !important;
                            }
                            #footer .footer_widgets .widget .widget_title {
                                color: #2b2828 !important;
                            }
                            #footer .footer_widgets .widget.widget_recent_entries ul li a {
                                color: #8a7979 !important;
                            }
                            #footer .footer_widgets .widget.widget_recent_entries ul li .post-date {
                                color: rgba(76, 76, 76, 0.6) !important;
                            }
                            #footer .copyright_row .copyright_row_wr .copyright {
                                color: rgba(80, 80, 80, 0.6) !important;
                            }
                            .stm_gmap_wrapper .gmap_addresses .addresses .item ul li .text a {
    color: #ffffff !important;
}

.post-1462 h2:after, .post-1462  .h2:after, .fasdfa h2:after{
    display: none !important;
}

.botaosolucao{
    background: #f26726 !important;
    color: #fff !important;
    font-weight: bold !important;
    font-size: 30px !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
    box-shadow: 3px 4px 6px 0px #888888 !important;
    text-decoration: none !important;
}
.noticiamenu{
        width: 20%;
    float: left;
}
.tiradesk{
    display:none;
}



@media only screen and (max-width: 991px){
    .tiradesk{
    display:block !important;
}

.mobile_header .logo_wrapper {
    background: #20282a !important;
}
.header_info{
    display: none !important;
}
.maxheightfuull{
        margin-top: 0px !important;
}
.noticiamenu {
    width: 100%;
    float: left;
    margin-bottom: 36px;
}
.noticiaconteudo {
    width: 100%;
    float: left;
}
.wpb_text_column{
        width: 100% !important;
    float: none !important;
    border-right: 0px solid #a67c52 !important;
    margin-right: 0px !important;
    padding-right: 0px !important;

}
.primeirobo{
    margin-top: 100px;
}
.sidebar-area{
    text-align:center;
}
}
@media only screen and (max-width: 991px){
.mobile_header .top_nav_mobile {
    padding: 16px 0;
    margin: 91px 0 15px !important;
    display: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.52);
    width: 100%;
}
}




.noticiaconteudo h1{
        text-transform: none !important;
}
h1:after, .h1:after, h2:after, .h2:after, h3:after, .h3:after, h4:after, .h4:after, h5:after, .h5:after, h6:after, .h6:after{
    display:none !important;
}
.cnv-service-title{
    text-transform: none;
}

.page-id-558 h1 {
    text-transform: none !important;
}

.desccat{
    padding: 39px 0 20px 50px;
    font-size: 17px;
    color: #000;
}
.desccat > a{
    color: #3f44e6 !important;
}